**/.DS_Store
src/milestone1/Chess/Icons/WhiteRook.png
src/milestone1/Chess/Icons/WhiteQueen.png
src/milestone1/Chess/Icons/WhitePawn.png
src/milestone1/Chess/Icons/WhiteKnight.png
src/milestone1/Chess/Icons/WhiteKing.png
src/milestone1/Chess/Icons/WhiteBishop.png
src/milestone1/Chess/Icons/BlackRook.png
src/milestone1/Chess/Icons/BlackQueen.png
src/milestone1/Chess/Icons/BlackPawn.png
src/milestone1/Chess/Icons/BlackKnight.png
src/milestone1/Chess/Icons/BlackKing.png
src/milestone1/Chess/Icons/BlackBishop.png
