**/.DS_Store
releases/deboer/v4/.idea/workspace.xml
releases/deboer/v4/.idea/compiler.xml
releases/deboer/v4/.idea/misc.xml
releases/group/milestone1/chess/.idea/.name
releases/group/milestone1/chess/.idea/libraries/lib.xml
releases/group/milestone1/chess/.idea/misc.xml
releases/group/milestone1/chess/.idea/modules.xml
releases/group/milestone1/chess/.idea/vcs.xml
releases/group/milestone1/chess/.idea/workspace.xml
releases/group/v1/Menü/.idea/compiler.xml
releases/group/v1/Menü/.idea/encodings.xml
releases/group/v1/Menü/.idea/misc.xml
releases/group/v1/Menü/.idea/workspace.xml
